[Unit]
Description=Prometheus exporter for keepalived
Documentation=https://github.com/cafebazaar/keepalived-exporter

[Service]
Restart=always
User=root
ExecStart=/usr/local/bin/keepalived-exporter-1.1.0.linux-amd64/keepalived-exporter $ARGS

[Install]
WantedBy=multi-user.target