server {
	listen 80 default_server;
    listen [::]:80 default_server;

	listen 8080 default_server;
    listen [::]:8080 default_server;

    server_name _;
    
    {% if inventory_hostname in groups['web_servers'] %}
    location / {
		proxy_pass http://127.0.0.1:{{ agama_port }};
	}
    {% endif %}
    location /metrics {
		proxy_pass http://127.0.0.1:9100/metrics;
	}
    {% if inventory_hostname in groups['web_servers'] %}
    location /prometheus {
        proxy_pass http://127.0.0.1:9090;
    }
    {% endif %}
    {% if inventory_hostname in groups['grafana'] %}
    location /grafana {
        proxy_pass http://127.0.0.1:{{ grafana_port }};
    }
    {% endif %}
    {% if inventory_hostname in groups['db_servers'] %}
    location /mysql-metrics {
        proxy_pass http://127.0.0.1:9104/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['db_servers'] %}
    location /nginx-metrics {
        proxy_pass http://127.0.0.1:80/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['dns_server'] %}
    location /bind-metrics {
        proxy_pass http://127.0.0.1:9119/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['web_servers'] %}
    location /stub_status {
        stub_status;
    }
    {% endif %}
}