server {
	listen 80 default_server;
    listen [::]:80 default_server;

	listen 8080 default_server;
    listen [::]:8080 default_server;

    server_name _;
    
    {% if inventory_hostname in groups['app_servers'] %}
    location / {
		proxy_pass http://localhost:{{ agama_port }};
	}
    {% endif %}
    location /metrics {
		proxy_pass http://localhost:{{ prometheus_jobs[0].port }}/metrics;
	}
    {% if inventory_hostname in groups['prometheus'] %}
    location /prometheus {
        proxy_pass http://localhost:{{ prometheus_port }};
    }
    {% endif %}
    {% if inventory_hostname in groups['grafana'] %}
    location /grafana {
        proxy_pass http://localhost:{{ grafana_port }};
    }
    {% endif %}
    {% if inventory_hostname in groups['db_servers'] %}
    location /mysql-metrics {
        proxy_pass http://localhost:{{ prometheus_jobs[2].port }}/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['web_servers'] %}
    location /nginx-metrics {
        proxy_pass http://localhost:{{ prometheus_jobs[3].port }}/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['dns_server'] %}
    location /bind-metrics {
        proxy_pass http://localhost:{{ prometheus_jobs[1].port }}/metrics;
    }
    {% endif %}
    {% if inventory_hostname in groups['web_servers'] %}
    location /stub_status {
        stub_status;
    }
    {% endif %}

    {% if inventory_hostname in groups['haproxy'] %}
    location /haproxy-metrics {
        proxy_pass http://localhost:{{ prometheus_jobs[4].port }}/metrics;
	}
    {% endif %}
    
    {% if inventory_hostname in groups['haproxy'] %}
    location /keepalived-metrics {
        proxy_pass http://localhost:{{ prometheus_jobs[5].port }}/metrics;
	}
    {% endif %}
    
    {% if inventory_hostname in groups['haproxy'] %}
    location /haproxy {
        proxy_pass http://localhost:88/haproxy?stats;
	}
    {% endif %}
}