[Unit]
Description=Prometheus exporter for Nginx
Documentation=https://github.com/nginxinc/nginx-prometheus-exporter

[Service]
Restart=always
User=prometheus
ExecStart=/usr/local/bin/nginx-prometheus-exporter

[Install]
WantedBy=multi-user.target