# nameserver {{ hostvars['shrshryo-2']['ansible_default_ipv4']['address'] }}
{% for vm in groups['db_servers'] %}
     		nameserver {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}

search {{ domain }}

