server {
	listen 80 default_server;
    root /var/www/html;
    location / {
		uwsgi_pass http://127.0.0.1:5000;
		include uwsgi_params;
	}
    location /metrics {
		proxy_pass http://127.0.0.1:9100/metrics;
	}
    location /prometheus {
        proxy_pass http://127.0.0.1:9090;
    }
}