---
- name: Install Prometheus
  apt: 
    name: prometheus

- name: Configure Prometheus
  template:
    src: prometheus.yaml.j2
    dest: /etc/prometheus/prometheus.yml
  notify: Restart Prometheus

- name: Adjust Prometheus service
  copy:
    src: prometheus
    dest: /etc/default/prometheus
  notify: 
    - Systemctl daemon-reload
    - Restart Prometheus

# - name: Configure Prometheus' web path
#   template:
#     src: prometheus.service.j2
#     dest: /etc/systemd/system/prometheus.service
#   notify: 
#     - Systemctl daemon-reload
#     - Restart Prometheus 
#     - Restart Nginx

- name: Enabled
  service:
    name: prometheus
    state: started
    enabled: yes