$TTL	604800
{{ domain }}.	IN	SOA	{{ domain }}. admin.{{ domain }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	shrshryo-2.{{ domain }}.
	IN	A	{{ dns_record[1].ip }}
	IN	A	{{ dns_record[2].ip }}
{% for r in dns_record %}
{{ r.name }}   				 IN  {{ r.type }} {{ r.ip }}
{% endfor %}
{% for c in dns_cnames %}
{{ c.cname }}                IN  {{ c.type }} {{ c.real }}
{% endfor %}