$TTL	604800
{{ domain }}.	IN	SOA	{{ domain }}. admin.{{ domain }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

{% for vm in groups['dns_server'] %}
{{ domain }}.	IN	NS  {{ vm }}.{{ domain }}.
{% endfor %}

{% for vm in hostvars %}
{{ hostvars[vm]['inventory_hostname'] }}	IN	A	{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}