key "dns_transfer" {
	algorithm hmac-sha256;
	secret "{{ ns_transfer_secret }}";
};

key "dns_update" {
	algorithm hmac-sha256;
	secret "{{ ns_update_secret }}";
};

acl subnets {
    {% for s in subnets %}
	  {{ s }}
	{% endfor %}
};

options {
	    directory "/var/cache/bind";
	    forwarders {
      {% for f in dns_forwarders %}
	        {{ f }};
      {% endfor %}
	    };
	    dnssec-validation no;
	    auth-nxdomain no;    # conform to RFC1035
	    allow-query {
	        subnets;
	    };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};