[Unit]
Description=pinger service
After=network.target influxdb.service
Requires=influxdb.service
Documentation=https://github.com/romankuchin/ica0002-2020/blob/master/08-logging/lab.md

[Service]
Restart=always
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target