# scrape_configs:
#    static_configs:
#      - targets: 
#      {% for host in groups['all'] %}
#        - '{{ hostvars[host]['inventory_hostname'] }}.{{ domain }}:9100'
#      {% endfor %}

scrape_configs:
{% for job in prometheus_jobs %}
  - job_name: {{ job['name'] }}
    static_configs:
      - targets:
{% for target in job['targets'] %}
        - {{ target }}.{{ domain }}:{{ job['port'] }}
{% endfor %}
{% endfor %}