global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

scrape_configs:

  - job_name: prometheus
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: linux
    static_configs:
      - targets: 
        - shrshryo-1.{{ domain }}:9100
        - shrshryo-2.{{ domain }}:9100
        - shrshryo-3.{{ domain }}:9100

  - job_name: bind
    static_configs:
      - targets: 
        - shrshryo-1.{{ domain }}:9119
        - shrshryo-2.{{ domain }}:9119
        - shrshryo-3.{{ domain }}:9119

  - job_name: mysql
    static_configs:
      - targets: 
        - shrshryo-1.{{ domain }}:9104
        - shrshryo-2.{{ domain }}:9104

  - job_name: nginx
    static_configs:
      - targets: 
        - shrshryo-1.{{ domain }}:9113

  # - job_name: mysql
  #  static_configs:
  #    - targets: 
  #      - shrshryo-1.{{ domain }}:9104

  - job_name: haproxy
    static_configs:
      - targets: 
        - shrshryo-1.{{ domain }}:9101
        - shrshryo-2.{{ domain }}:9101

  - job_name: keepalived
    static_configs:
    - targets: 
        - shrshryo-1.{{ domain }}:9165
        - shrshryo-2.{{ domain }}:9165

