global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

scrape_configs:
{% for job in prometheus_jobs %}
  - job_name: {{ job['name'] }}
    static_configs:
      - targets:
{% for target in job['targets'] %}
        - {{ target }}.{{ domain }}:{{ job['port'] }}
{% endfor %}
{% endfor %}